/**
    Name: Arrow code highlighting theme
    Author: Juan Valencia Calvellido and Arrow team
 */

.cm-s-arrow span.cm-meta { color: #ec7b75; }
.cm-s-arrow span.cm-number { color: #986801; }
.cm-s-arrow span.cm-keyword { line-height: 1em; font-weight: bold; color: #4172dd; }
.cm-s-arrow span.cm-atom { font-weight: bold; color: #193E88; }
.cm-s-arrow span.cm-def { color: #193E88; }
.cm-s-arrow span.cm-variable { color: #222; }
.cm-s-arrow span.cm-variable-2 { color: #05c1fd; }
.cm-s-arrow span.cm-variable-3, .cm-s-arrow span.cm-type { color: #f28b2d; }
.cm-s-arrow span.cm-property { color: #383a42; }
.cm-s-arrow span.cm-operator { color: #383a42; }
.cm-s-arrow span.cm-comment { color: #a0a1a7; }
.cm-s-arrow span.cm-string { color: #50a14f; }
.cm-s-arrow span.cm-string-2 { color: #50a14f; }
.cm-s-arrow span.cm-qualifier { color: #555; }
.cm-s-arrow span.cm-error { color: #fb2046; }
.cm-s-arrow span.cm-attribute { color: #05c1fd; }
.cm-s-arrow span.cm-tag { color: #193E88; }
.cm-s-arrow span.cm-link { color: #05c1fd; }
.cm-s-arrow .CodeMirror-activeline-background { background: #fffae3; }

.cm-s-arrow span.cm-builtin { color: #5848f4; }
.cm-s-arrow span.cm-bracket { color: #cc7; }
.cm-s-arrow  {
  color: #383a42;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}


.cm-s-arrow .CodeMirror-matchingbracket {
  outline: 1px solid rgba(0, 0, 0, 0.1);
  color: #961f8c !important;
}

.CodeMirror-hints.arrow {
  background-color: #ebf3fd !important;
  color: #616569;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.CodeMirror-hints.arrow .CodeMirror-hint-active {
  background-color: #a2b8c9 !important;
  color: #5c6065 !important;
}
